@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    
    *{
        margin: 0;
        padding: 0;
        font-family: 'Roboto Slab', serif;
        border: 0;
        box-sizing: border-box;
    }
    
    body{
        @apply text-sm desktop:text-base leading-[22px] desktop:leading-7 font-normal text-neutrals overflow-x-hidden bg-background;
    }
    h1{
        @apply text-[54px] desktop:text-[76px] leading-none font-bold;
    }
    h2{
        @apply text-[28px] desktop:text-[40px] leading-[1.2em] font-bold;
    }
    h3{
        @apply text-2xl leading-[22px] font-normal;
    }
    h4{
        @apply text-xl leading-5 font-normal;
    }
    h5{
        @apply text-sm leading-none font-normal;
    }
    a.mgi_link{
        @apply shadow-[inset_0_0_0_0_#97c680] hover:shadow-[inset_0_-9px_0_-1px_#97c680] hover:no-underline break-words transition-shadow duration-100 ease-in;
        
    }
    
    input{
        @apply border-neutrals border border-solid border-opacity-0 py-2 pl-[25px] pr-3 bg-[#fff] text-neutrals focus:outline-none placeholder:text-neutrals focus:border focus:border-solid focus:border-primary;
    }
    section{
        @apply py-9 desktop:px-20 desktop:py-16;
    }
    
}
@layer components{
    .mgi_container{
        @apply container px-6 desktop:px-0 mx-auto;
    }
    /* Mgi grid */
    .mgi_grid--1{
        @apply grid grid-cols-1;
    }
    .mgi_grid--2{
        @apply grid grid-cols-1 gap-y-10 desktop:grid-cols-2;
    }
    .mgi_grid--3{
        @apply grid grid-cols-3;
    }
    .mgi_grid--4{
        @apply grid grid-cols-1 tablet:grid-cols-2 gap-y-10 desktop:grid-cols-4;
    }
    .mgi_grid--7{
        @apply grid grid-cols-7;
    }
    .mgi_grid--12{
        @apply grid grid-cols-12;
    }
    .mgi_col{
        @apply col-span-1;
    }
    .mgi_col--2{
        @apply col-span-2;
    }
    .mgi_col--8{
        @apply col-span-8;
    }
    .mgi_col--4{
        @apply col-span-4;
    }
    /* NAV Menu */
    .mgi_nav{
        @apply flex flex-row w-full justify-between items-center transition-all duration-200 ease-out;
    }
    .mgi_menu--text ul{
        @apply desktop:flex desktop:flex-row items-center;
    }
    .mgi_menu--text ul li{
        @apply mr-10;
    }
    .mgi_menu--text, .mgi_menu--btn{
        @apply hidden desktop:block;
    }
    header{
        @apply absolute top-0 left-0 right-0 z-50 bg-background;
    }
    header.-fixtop{
        @apply fixed top-0 left-0 right-0 bottom-auto bg-[#fff];
    }
    nav{
        @apply py-5 desktop:py-[38px] transition-all duration-300 ease-out opacity-0;
        animation: fadeinDown 1s ease-in-out 0.5s forwards;
    }
    header.-fixtop nav{
        @apply py-[18px];
    }
    .mgi_nav--mobile{
        @apply bg-[#fff] -translate-y-full block opacity-0 h-0 w-screen transition-transform duration-300 ease-out overflow-hidden;
    }
    .mgi_nav--mobile.-open{
        @apply translate-y-0 opacity-100 h-screen;
    }
    .mgi_nav--mobile.-open + nav{
        @apply opacity-0;
    }
    .mgi_nav--mobile ul{
        @apply flex flex-col;
    }
    .mgi_nav--mobile .mgi_link--mobile{
        @apply block py-6 border-b border-solid border-neutrals border-opacity-10;
    }
    .nav-mobile--wrap{
        @apply pt-[100px] flex flex-col justify-between h-full;
    }
    .nav-mobile--wrap .mgi_menu--btn{
        @apply flex flex-row justify-between mx-auto gap-x-4 text-center flex-grow-0 py-6 w-full  border-t border-solid border-neutrals border-opacity-10;
    }
    .mgi_hambuger{
        @apply desktop:hidden bg-neutrals;
    }
    .mgi_hambuger .mgi_hambuger--wrap{
        @apply w-8 h-8 cursor-pointer;
    }
    .mgi_hambuger.-open .mgi_hambuger--wrap{
        @apply px-2 py-3 flex flex-col justify-between;
    }
    .mgi_hambuger.-close{
        @apply absolute top-6 right-6;
    }
    .mgi_hambuger span{
        @apply block w-full h-0.5 bg-[#fff];
    }
    .mgi_hambuger.-close .mgi_hambuger--wrap{
        @apply relative;
    }
    .mgi_hambuger.-close span:first-child{
        @apply absolute top-1/2 left-[3px] rotate-45 w-[80%];
    }
    .mgi_hambuger.-close span:last-child{
        @apply absolute top-1/2 left-[3px] -rotate-45 w-[80%];
    }
    .mgi_logo{
        @apply max-w-[82px] desktop:min-w-[250px];
    }
    .mgi_menu--btn{
        @apply flex-grow desktop:flex flex-row justify-end items-center;
    }
    .mgi_link.-active{
        @apply shadow-[inset_0_-9px_0_0_#97c680];
    }
    .mgi_form{
        @apply flex flex-row relative;
    }
    .mgi_form span.mgi_message{
        @apply absolute -bottom-8 left-0;
    }
    .mgi_footer--join .mgi_form{
        @apply tablet:max-w-[300px];
    }
    #findX.mgi_form{
        @apply hidden desktop:block mt-[90px] z-10 max-w-[450px];
    }
    #findXmobile{
        @apply block desktop:hidden mt-[16px] z-10 max-w-[450px];
    }
    #customer, footer{
        @apply opacity-0;
    }
    /* button */
    .mgi_button--text{
        @apply rounded-full py-2.5 px-[30px] w-auto border border-solid border-neutrals border-opacity-10 desktop:border-none;
    }
    .mgi_button--pill{
        @apply rounded-full py-2.5 px-[30px] text-[#fff] min-w-[160px] bg-primary shadow-[inset_0_50px_0_0_#1e1e2f] hover:shadow-[inset_0_0_0_0_#1e1e2f] transition-shadow duration-300 ease-out;
    }
    .mgi_button--sendform{
        @apply block text-[34px] w-[86px] desktop:w-[120px] h-full bg-primary hover:shadow-[inset_0_-120px_0_0_#feba88] px-[15px] py-[9px] absolute right-0 top-0 transition-shadow duration-300 ease-out;
    }
    .mgi_button--submit{
        @apply block text-base w-16 h-full bg-primary hover:shadow-[inset_0_-120px_0_0_#feba88] px-[15px] py-[9px] absolute right-0 top-0 transition-shadow duration-300 ease-out;
    }
    .nav-mobile--wrap .mgi_button--text, .nav-mobile--wrap .mgi_button--pill{
        @apply flex-grow w-auto;
    }
    #findpassion{
        @apply pb-12 desktop:pb-9 pt-[100px] desktop:pt-[125px];
    }
    #findpassion .mgi_container{
        @apply flex flex-col desktop:flex-row desktop:items-end overflow-x-visible;
    }
    .mgi_hero--left{
        @apply pb-[30px] desktop:pb-14 z-10;
        animation: fadeinUp 1.5s ease-in-out 0.5s backwards;
    }
    .mgi_input--big{
        @apply w-full desktop:w-[450px] h-[86px] desktop:h-[120px] py-2 pl-8 desktop:pl-[50px] pr-3 text-xl drop-shadow-xl focus:drop-shadow-2xl hover:drop-shadow-2xl;    
    }

    /* Slide */
    .mgi_hero--right.container--slide{
        @apply !mx-[-24px] pb-6 pl-6 desktop:pl-0 desktop:pb-0;
    }
    .mgi_hero--right{
        @apply w-full overflow-scroll desktop:overflow-visible;
        animation: fadeinRight 1.5s ease-in-out backwards;
    }
    .mgi_hero--slides{
        @apply snap-mandatory snap-x desktop:snap-none w-auto desktop:w-fit flex flex-row desktop:-ml-[85px] desktop:-mr-5;
    }
    .mgi_hero--slide{
        @apply flex-grow flex-shrink-0 snap-start snap-always h-[376px] desktop:h-[590px] desktop:px-5 mr-6 desktop:mr-0 transition-all duration-500 ease-in-out;
    }
    .slide--current{
        @apply w-[240px] desktop:w-[58%];
    }
    .mgi_hero--slide:not(.slide--current){
        @apply w-[240px] desktop:w-[21%];
    }
    .slide--current.-small{
        @apply desktop:w-[21%];
    }
    .mgi_hero--slide:hover{
        @apply desktop:w-[58%];
    }
    .mgi_hero--slide:hover .slide--current{
        @apply desktop:w-[21%];
    }
    .mgi_hero--item{
        @apply w-full h-full rounded-[20px] overflow-hidden relative;
    }
    .slide--thumb{
        @apply w-full h-full object-cover transition-all duration-300 ease-out;
    }
    .slide--hover:hover .slide--thumb, .slide--current .slide--thumb{
        @apply h-[115%];
    }
    .slide--hover:hover .slide--meta.-less{
        @apply opacity-0 w-0 h-0;
    }
    .mgi_hero--overlay{
        @apply absolute w-full top-0 bottom-0 left-0 flex flex-row justify-between text-[#fff];
    }
    .mgi_hero--grad{
        @apply absolute w-full h-1/2 bottom-0 left-0 bg-gradient-to-t from-neutrals;
    }
    .slide--meta, .slide--meta{
        @apply z-[2];
    }
    .meta--left, .meta--right{
        @apply transition-all duration-300 ease-in;
    }
    .slide--meta.-more{
        @apply desktop:opacity-0 desktop:w-0 absolute flex flex-row opacity-100 px-4 desktop:px-10 justify-between bottom-5 desktop:bottom-[76px] left-0 w-full items-center transition-all duration-300 ease-in;
    }
    .slide--current .slide--meta.-more, .slide--hover:hover .slide--meta.-more{
        @apply absolute w-full flex flex-row desktop:bottom-[76px] left-0 opacity-100 transition-all duration-300 ease-in;
    }
    .slide--current .slide--meta.-more{
        @apply desktop:pl-[100px] desktop:pr-10;
    }
    .slide--current.-small .slide--meta.-more{
        @apply desktop:opacity-0 desktop:w-0;
    }
    .slide--current .slide--meta.-less{
        @apply opacity-0 w-0;
    }
    .slide--meta.-less{
        @apply hidden absolute -rotate-90 bottom-[76px] w-[120px] h-[120px] desktop:flex flex-row items-center transition-all duration-300 ease-in;
    }
    .meta--square{
        @apply hidden absolute bottom-0 left-0 w-[120px] h-full bg-neutrals desktop:block z-[-1] -ml-[24px];
    }
    .meta--text{
        @apply text-[22px] desktop:text-[34px] leading-[1.1em];
    }
    .meta--right{
        @apply text-sm text-center block w-fit h-fit;
    }
    .meta--right .text--big{
        @apply pt-3 text-[32px] desktop:text-[52px] block pb-1 desktop:pb-3 h-full min-w-max;
    }
    /* Tab */
    #categories{
        @apply pb-0 desktop:pb-9;
    }
    #categories h2{
        @apply opacity-0;
        animation: fadeinUp 1s ease-in-out 0.5s forwards;
    }
    .mgi_tabs{
        @apply overflow-x-auto mx-auto text-center transition-all duration-200 ease-in opacity-0;
    }
    .mgi_tabs ul{
        @apply flex flex-row mt-10 pb-1.5 mb-4 desktop:mt-[48px] desktop:mb-[56px] justify-start tablet:justify-center snap-mandatory snap-x;
    }
    .mgi_tabs ul li {
        @apply block flex-shrink-0 px-5 snap-start select-none snap-always;
    }
    .tabs--link{
        @apply appearance-none;
    }
    .tabs--link:not(.-active){
        @apply block min-h-[32px] min-w-max font-normal opacity-80 flex-shrink-0 border-b-2 border-solid border-neutrals border-opacity-0 hover:min-h-[26px] hover:border-opacity-20 transition-all duration-300 ease-out;
    }
    .tabs--link.-active{
        @apply block min-h-[32px] border-b-2 border-solid opacity-100 border-opacity-100;
        -webkit-text-stroke: 0.6px #1e1e2f;
    }
    .mgi_tabs--contents{
        @apply mt-4 desktop:mt-0;
    }
    .mgi_contents{
        @apply opacity-0 hidden;

    }
    .mgi_contents.-active{
        @apply opacity-100 block;
        animation: fadein 1s ease-in-out forwards;
    }
    .mgi_contents--grid{
        @apply flex flex-col mobile:flex-wrap mobile:flex-row w-full items-start justify-between;
    }
    .mgi_card{
        @apply w-full mobile:w-1/2 desktop:w-1/4 mb-10 desktop:mb-0 mobile:px-4 desktop:sticky desktop:top-[40vh];
    }
    .mgi_contents:first-child .mgi_card{
        @apply opacity-0;
    }
    .mgi_card--link{
        @apply flex flex-col relative overflow-hidden appearance-none;
    }
    .mgi_card--link:hover .card--arrow{
        @apply desktop:translate-y-0;
    }
    .mgi_card:hover h3{
        @apply text-primary;
    }
    .mgi_card--thumb{
        @apply w-full mb-6;
    }
    .mgi_card--thumb img{
        @apply w-full h-[300px] mobile:h-[42vw] tablet:h-auto rounded-[20px];
    }
    .mgi_card--meta h3{
        @apply pb-3;
    }
    .card--arrow{
        @apply absolute top-4 right-4 w-10 h-10 desktop:-translate-y-[200%] rounded-full bg-[#fff] flex flex-row justify-center items-center text-center transition-transform duration-500 ease-in-out;
    }
    .mgi_linepoint{
        @apply flex flex-row py-4 desktop:py-[30px] relative opacity-0;
    }
    .linepoint--linedot{
        @apply absolute right-auto left-7 top-0 bottom-0 w-px border-l-[1px] mt-[88px] desktop:mt-[103px] mb-0 desktop:-mb-[14px] border-dashed border-neutrals;
    }
    .linepoint--icon{
        @apply w-[56px] h-[56px] text-center flex flex-row justify-center items-center rounded-full bg-[#fff] mr-[24px] flex-none;
    }
    .linepoint--icon img{
        @apply object-scale-down;
    }
    .linepoint--meta{
        @apply flex-shrink;
    }
    .linepoint--meta h4{
        @apply mb-4;
    }
    .mgi_achieve{
        @apply bg-primary mt-12 py-9 hidden desktop:flex flex-row justify-center -mb-[50px] opacity-0;
    }
    .mgi_achieve--mobile{
        @apply absolute left-auto -top-[35px] w-[162px] right-4 bottom-auto h-[70px] bg-primary desktop:hidden -mb-[50px] z-[5] overflow-hidden;
    }
    .mgi_achieve--wrap{
        @apply relative w-full h-full;
    }
    .achieve--left, .achieve--right, .achieve--top, .achieve--bottom{
        @apply flex flex-row items-center;
    }
    .achieve--line{
        @apply w-px h-10 mx-[52px] bg-neutrals;
    }
    .achieve--top, .achieve--bottom{
        @apply absolute top-0 left-0 h-[70px] w-full flex-grow justify-center;
    }
    .achieve-showdown.-active{
        animation: showactive 0.5s ease-in-out forforwardss;
    }
    .achieve-showdown.-slidedown{
        animation: showdown 0.5s ease-in-out forforwardss;
    }
    .achieve--bigtext{
        @apply text-[28px] desktop:text-[52px] mr-2 desktop:mr-4;
    }
    .achieve--smalltext{
        @apply text-xs desktop:text-sm leading-[1.4em] uppercase;
    }
    .mgi_iframe--wrap{
        @apply relative max-w-[950px] h-[55vw] desktop:h-auto desktop:min-h-[470px] bg-[#fff] w-full rounded-2xl overflow-hidden;
    }
    .mgi_iframe--video{
        @apply absolute min-w-[110vw] desktop:min-w-fit max-w-[950px] desktop:min-h-[470px] desktop:w-full h-[70vw] desktop:h-[110%] -ml-[5vw] desktop:ml-0 overflow-hidden -top-8 desktop:top-auto left-0 bottom-0 right-0 ;
    }
    .mgi_iframe--btn{
        @apply h-6 w-6 absolute bottom-5 right-5 desktop:bottom-8 desktop:right-8;
    }
    .video--playbtn{
        @apply hidden;
    }
    .mgi_iframe--video .video--play{
        @apply desktop:w-full h-[70vw] min-w-[110vw] desktop:min-w-fit desktop:h-[110%] -ml-[5vw] desktop:ml-0 -mb-3.5 desktop:-mb-[30px];
    }
    .container--slide{
        @apply w-auto tablet:mx-auto tablet:container;
    }
    .mgi_carousell--viewport{
        @apply pl-6 desktop:pl-0 w-full overflow-auto desktop:overflow-visible pb-5;
    }
    .mgi_carousell--wrap{
        @apply w-fit flex flex-row transition-transform duration-300 ease-in-out overflow-auto snap-mandatory desktop:snap-none snap-x;
    }
    .carousell--card{
        @apply w-[240px] desktop:w-[296px] mr-6 desktop:mr-8 bg-[#fff] rounded-2xl p-4 desktop:p-6 flex flex-col justify-between shadow-[0_64px_50px_-32px_#06072508] snap-start select-none;
    }
    .carousell--card p{
        @apply text-sm desktop:text-base text-opacity-80;
    }
    .card--avatar{
        @apply mr-3;
    }
    .card--avatar img{
        @apply w-[54px] h-[54px] rounded-full;
    }
    .card--info h5{
        @apply font-bold;
    }
    .card--info span{
        @apply text-primary;
    }
    .card--bottom{
        @apply flex flex-row items-center mt-8 desktop:mt-12;
    }
    .mgi_carousell--arrow{
        @apply flex flex-row mx-auto justify-center mt-3 desktop:mt-[44px];
    }
    .mgi_carousell--arrow .arrow--left, .mgi_carousell--arrow .arrow--right{
        @apply border mx-3 p-3 rounded-full block border-solid border-background opacity-80 hover:opacity-100;
    }
    .mgi_carousell--arrow .arrow--right{
        @apply rotate-180;
    }
    .mgi_skills--top .col--left{
        @apply opacity-0;
    }
    .mgi_skills--top .col--right p{
        @apply opacity-0;
        animation-delay: 1s;
    }
    .mgi_skills--top .col--right{
        @apply max-w-[544px] z-10 mr-20 w-full;
    }
    .mgi_skills--top .col--right p{
        @apply text-xl leading-[1.4em];
    }
    .mgi_skills--top{
        @apply mb-[68px] desktop:mb-0;
    }
    .mgi_skills--bottom{
        @apply flex flex-col-reverse gap-y-10 desktop:flex-row w-full;
    }
    .mgi_skills--bottom .col--left{
        @apply max-w-[270px] mr-[60px];
    }
    .mgi_skills--bottom .col--right{
        @apply flex-grow relative opacity-0;
    }
    .mgi_footer--top{
        @apply w-full pt-10 desktop:pt-14 pb-10 desktop:pb-5 mb-6 flex flex-col gap-y-10 desktop:flex-row min-h-[120px] justify-between border-b border-solid border-b-neutrals border-opacity-10;
    }
    .mgi_footer--logo{
        @apply max-w-[82px] desktop:max-w-max;
    }
    .mgi_footer--menu ul{
        @apply flex flex-row flex-wrap max-w-[400px] desktop:mx-auto;
    }
    .mgi_footer--menu ul li{
        @apply w-1/2 mb-6 desktop:mb-10;
    }
    .mgi_input--normal{
        @apply py-[9px] pl-[25px] pr-3 w-full tablet:w-[300px] h-16 border border-solid border-neutrals border-opacity-30 focus:placeholder:opacity-50;
    }
    .mgi_footer--join h4{
        @apply pb-5;
    }
    .mgi_credit{
        @apply flex flex-row items-center;
    }
    .mgi_credit img{
        @apply mr-[14px];
    }
    .mgi_footer--bottom{
        @apply flex flex-col-reverse gap-y-6 desktop:flex-row items-center justify-between;
    }
    .mgi_socials--icon{
        @apply flex flex-row;
    }
    .mgi_socials--icon a{
        @apply block mx-2 w-10 h-10 leading-10 rounded-[100px] border border-neutrals border-solid border-opacity-10 hover:bg-neutrals;
    }
    .mgi_socials--icon a img{
        @apply block w-full h-full object-scale-down hover:invert;
    }
    .mgi_footer--bottom{
        @apply pb-6;
    }
    /* Animation */
    .fadein{
        animation: fadein 1s ease-out forwards;
    }
    .fadeinUp{
        animation: fadeinUp 1s ease-out forwards;
    }
    .fadeinDown{
        animation: fadeinDown 1s ease-out forwards;
    }
    .fadeinRight{
        animation: fadeinRight 1s ease-out forwards;
    }
    .exDown{
        animation: exDown 1s ease-in backwards;
    }
    @keyframes fadein {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes showdown {
        from{
            transform: translateY(0);
        }
        to{
            transform: translateY(100%);
        }
    }
    @keyframes showactive {
        from{
            transform: translateY(-100%);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes fadeinDown{
        from{
            transform: translateY(-80%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeinUp{
        from{
            transform: translateY(80%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fadeinRight{
        from{
            transform: translateX(-80%);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes exDown{
        from{
            height: 0;
            opacity: 0;
        }
        to{
            height: min-content;
            opacity: 1;
        }
    }
}